html, body {
    box-sizing: border-box;
    background-image: url("https://www.jarviwiki.fi/w/resources/assets/jarviwiki_bg.png") ;

}
.page-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

}
.header-container   {
    display: flex;
    flex-direction: column;
}
.header-top {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
}
.user-img   {
    width: 30px;
    height: 30px;
    margin-right: 40px;
    margin-left: 0;
}
.header-body{
    display: flex;
    flex-direction: row;
}
.logoImg   {
    box-sizing: border-box;
    flex-basis: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.logo   {
    width: 100%;
    height: auto;
    cursor: pointer;;
}
.header-content   {
    box-sizing: border-box;
    position: relative;
    flex-basis: 83%;
    display: flex;
    flex-direction: row;
    background-color: rgb(213, 218, 38);
    border-radius: 12px;
    padding-top: 50px;
    padding-bottom: 26px;
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 400;
    height: 186px;
    padding: 8px;
    margin-right: 12px;
}
.slogan {
    flex-basis: 50%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

}
.search-container {
    background-color: rgb(0, 118, 176);
    flex-basis: 50%;
    display: flex;
    width: 50%;
    border-radius: 12px;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.search-icon    {
    background-color: rgb(233, 236, 239);
    width: 41px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.img-search-icon    {
    height: 20px;
    width: 20px;
}

.main-nav   {
    background-color: rgb(0, 118, 176);
    height: 86px;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    
}

.main-nav-text {
    display: flex;
    text-decoration: none;
    color: rgb(33, 37, 41);
    background-color: rgb(213, 218, 38);
    flex-basis: 19%;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 231, 247);
    margin-top: 10px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    
}
.main-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 2px 2px rgb(163, 168, 173);
}
div > p{
    text-align: justify;
}
.sub-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 30px;
}
.footer-container   {
    margin-top: 20px;
    box-sizing: border-box;
    border-top: 2px double darkgray;

}
.left-footer-container  {
    font-size: 16px;
    border-right: 2px double darkgray;
}
.left-footer-text {
    text-align: end;
}
.main-footer-container  {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.img-footer {
    width: 400px;
    height: auto;
}
.f-img-con  {
    display: flex;
    margin-left: 20%;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.f-img  {
    margin-right: 20px;
    padding-right: 20px;
}
@media only screen and (max-width:768px) and (min-width:200px) {
    .header-container, .header-body    {
        display: flex;
        flex-direction: column;
    }
    .header-content  {
        display: flex;
        flex-direction: column;
        height: 186px;
        position: relative;
    }
    .logoImg    {
        width: 50%;
        margin-left: 25%;
    }
    .slogan {
        position: absolute;
        top: 60px;
        visibility: hidden;
    }
    .search-container   {
        height: 180px;
        width: 100%;
        padding-top: 15px;
        padding-right: 20px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}